/*!
 * BlizzCMS
 *
 * An Open Source CMS for "World of Warcraft"
 *
 * This content is released under the MIT License (MIT)
 *
 * Copyright (c) 2017 - 2019, WoW-CMS
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * @theme  Default
 * @author  WoW-CMS
 * @copyright  Copyright (c) 2017 - 2019, WoW-CMS.
 * @license https://opensource.org/licenses/MIT MIT License
 * @link    https://wow-cms.com
 * @since   Version 1.0.1
 * @filesource
 */

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/lobster-regular-webfont.woff2') format('woff2'), url('../fonts/lobster-regular-webfont.woff') format('woff');
}

html {
  overflow-y: scroll;
  background: transparent;
  color: #fff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
  background-color: #120a07;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #d4130c;
  text-decoration: none;
  transition: color ease-in .15s;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

/** HORDE THEME START **/

.uk-link, a {
	color: #ec7878;
    text-decoration: none;
    cursor: pointer;
}

.uk-badge {
    box-sizing: border-box;
    min-width: 22px;
    height: 22px;
    padding: 0 5px;
    border-radius: 500px;
    vertical-align: middle;
    background: #f01e1e;
    color: #fff;
    font-size: .875rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/** HORDE THEME END **/	

hr,
.uk-hr {
  border-top-color: rgba(255, 255, 255, .2);
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-h1,
.uk-h2,
.uk-h3,
.uk-h4,
.uk-h5,
.uk-h6 {
  color: #fff;
  font-family: 'Blizzard', Helvetica, Arial, sans-serif;
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #000000;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
}

.uk-navbar-transparent {
  background-image: url('../images/bg-main.png');
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .15);
}

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  min-height: 40px;
}

.uk-navbar-nav > li > a,
.uk-navbar-dropdown-nav > li > a {
  color: rgba(255, 255, 255, .8);
}

.uk-navbar-dropdown-nav > li > a {
  font-size: 12px;
  padding: 4px 18px;
  transition: background-color .2s ease,color .2s ease;
}

.uk-navbar-dropdown-nav > li > a:focus,
.uk-navbar-dropdown-nav > li > a:hover {
  background: rgba(255, 255, 255, .15);
  color: #fff;
}

.uk-navbar-nav > li:hover > a,
.uk-navbar-nav > li > a.uk-open,
.uk-navbar-nav > li > a:focus {
  color: #f00;
  text-shadow: 0 0 15px #fff,0 0 30px rgba(255, 255, 255, .3);
}

.uk-navbar-toggle {
  color: rgba(255, 255, 255, .7);
}

.uk-navbar-toggle.uk-open,
.uk-navbar-toggle:focus,
.uk-navbar-toggle:hover {
  color: #fff;
}

[class*="uk-dropdown-bottom"] {
  margin-top: 2px;
}

[class*="uk-navbar-dropdown-bottom"] {
  margin-top: 1px;
}

.uk-navbar-dropdown {
  background: linear-gradient(#941c21, #161a26);
  border-width: 0 1px 0px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, .05);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .2);
  min-width: 180px;
  padding: 10px 0;
}

.uk-navbar-dropdown .blizzcms-cart-dropdown {
  color: rgba(255, 255, 255, .8);
  font-size: 12px;
  padding: 4px 8px;
}

.uk-offcanvas-bar {
  background: #151a23;
}

#mobile .uk-offcanvas-bar {
  padding: 20px 0;
}

#mobile .uk-offcanvas-bar .uk-nav-default {
  font-size: 1rem;
}

#mobile .uk-offcanvas-bar .uk-nav-parent-icon > .uk-parent > a::after {
  height: 2.5em;
}

#mobile .uk-offcanvas-bar .uk-nav-default > li > a {
  border-top: 1px solid rgba(255, 255, 255, .1);
  line-height: 2.5em;
  padding: 0 12px;
  color: #bdbdbd;
  transition: all ease .3s;
}

#mobile .uk-offcanvas-bar .uk-nav-default > li > a:hover {
  background-color: rgba(255, 255, 255, .02);
  color: #fff;
}

#mobile .uk-offcanvas-bar .uk-nav-default > li.uk-parent.uk-open > a {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.uk-modal-title {
  color: #fff;
  font-size: 1.625rem;
}

.uk-modal-dialog {
  border: 1px solid rgba(255, 255, 255, .1);
}

.uk-modal-dialog,
.uk-modal-body,
.uk-modal-header,
.uk-modal-footer {
  background: rgba(0, 38, 80, .7);
}

.uk-modal-header{
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.uk-modal-footer {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.slider-section {
  background: linear-gradient(0deg, rgba(0, 0, 0, .15) 0, transparent);
}

.main-section {
  border-top: 1px solid rgba(133, 63, 63, 0.5);
}

.header-section {
  background-image: url('../images/background-header.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
}

.uk-card-default {
  background: rgba(135, 9, 9, 0.2);
  border: 1px solid rgba(255, 255, 255, .1);
  color: #ccc;
}

.uk-card-default .uk-card-header {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 10px;
}

.uk-card-default .uk-card-footer {
  border-top: 1px solid rgba(255, 255, 255, .1);
}

.uk-card-default.news-card {
  background: rgba(135, 9, 9, 0.1);
  color: rgba(255, 255, 255, .7);
  box-shadow: none;
  border: none;
}

.uk-card-default.news-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, .15);
  transition: all ease-in .2s;
}

.uk-card-media-left:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-right: 1px solid rgba(255, 255, 255, .15);
}

.uk-card-default.news-card.uk-card-hover:hover {
  background-color: rgba(135, 9, 9, 0.2);
  box-shadow: none;
}

.uk-card-hover:hover.uk-card-default.news-card:after {
  border-color: #ff0000;
}

.uk-card-body {
  padding: 15px;
}

.uk-card-footer {
  padding: 15px;
}

.uk-card-default.myaccount-card {
  border-top: 1px solid rgba(255, 255, 255, .1);
  background: rgba(135, 9, 9, 0.2);
  color: rgba(255, 255, 255, .7);
  box-shadow: none;
}

.uk-card-default.myaccount-card .uk-card-header {
  background: rgba(135, 26, 9, 0.1);
}

.dotted-divider:after {
  content: "";
  display: inline-block;
  border-top: 2px dotted rgba(255, 0, 0, 0.8);
  width: 200px;
  max-width: 100%;
  padding-bottom: 10px;
}

.card-status {
  border: 1px solid transparent;
  box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .6), inset 0 0 5px rgba(0, 0, 0, .4);
  border-image: linear-gradient(to left, rgba(255, 255, 255, .2) 0%, rgba(0, 174, 255, .8) 100%);
  border-image-slice: 1;
  border-image-width: 1px;
  padding: 15px 20px;
  background: rgba(9, 85, 135, .05);
  color: #ccc;
}

.image-card {
  position: relative;
  display: block;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 123px;
  box-shadow: 0 8px 17px rgba(0,0,0,.1);
}

.image-card:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, .15);
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .image-card {
    position: relative;
    display: block;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 65px;
    box-shadow: 0 8px 17px rgba(0,0,0,.1);
  }
}

.image-post {
  position: relative;
  display: block;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  box-shadow: 0 8px 17px rgba(0,0,0,.1);
}

.image-post:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid rgba(255, 255, 255, .15);
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .image-post {
    position: relative;
    display: block;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 133px;
    box-shadow: 0 8px 17px rgba(0,0,0,.1);
  }
}

.uk-button-small {
  padding: 0 10px;
  font-size: .75rem;
}

.uk-button-default {
  background: #ca0e0e;
  border: 1px solid #ff0000;
  color: #fff;
  transition: all ease .3s;
}

.uk-button-default:focus,
.uk-button-default:hover {
  background: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.uk-button-default.uk-active,
.uk-button-default:active {
  background: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.uk-button-default:disabled {
  background: #ff0000;
  color: #fff;
  border-color: #ff0000;
}

.uk-button-danger {
  background: #ca0e28;
  border: 1px solid #ff002f;
  color: #fff;
  transition: all ease .3s;
}

.uk-button-danger:focus,
.uk-button-danger:hover {
  background: #ff002f;
  color: #fff;
  border-color: #ff002f;
}

.uk-button-danger.uk-active,
.uk-button-danger:active {
  background: #ff002f;
  color: #fff;
  border-color: #ff002f;
}

.uk-button-danger:disabled {
  background: #ff002f;
  color: #fff;
  border-color: #ff002f;
}

.uk-button-secondary {
  background: #151C23;
  border: 1px solid #292e33;
  color: #fff;
  transition: all ease .3s;
}

.uk-button-secondary:focus,
.uk-button-secondary:hover {
  background: #292e33;
  color: #fff;
  border-color: #292e33;
}

.uk-button-secondary.uk-active,
.uk-button-secondary:active {
  background: #292e33;
  color: #fff;
  border-color: #292e33;
}

.uk-button-secondary:disabled {
  background: #292e33;
  color: #fff;
  border-color: #292e33;
}

.uk-icon-button {
  background: rgba(0, 174, 255, .1);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .07);
}

.uk-icon-button:focus,
.uk-icon-button:hover {
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
}

.uk-active>.uk-icon-button,
.uk-icon-button:active {
  background-color: rgba(255, 255, 255, .2);
  color: #fff;
}

.uk-button-text {
  color: #ccc;
}

.uk-button-text::before {
  border-color: #ff0000;
}

.uk-button-text:focus,
.uk-button-text:hover {
  color: #ff0000;
}

.uk-button-text:disabled {
  color: #ccc;
}

.uk-text-primary {
  color: #ae130c !important;
}

.uk-text-meta {
  color: #d1d1d1;
}

.uk-alert {
  padding: 8px 16px;
}

.uk-alert-close {
  top: 14px;
}

.uk-alert-danger {
  background: #ff3636;
  color: #fff;
}

.uk-alert-warning {
  background: #ff8b36;
  color: #fff;
}

.uk-alert-success {
  background: #25ce5c;
  color: #fff;
}

.uk-column-divider {
  column-rule: 1px solid rgba(255, 255, 255, .15);
}

.uk-tab::before {
  border-bottom-color: rgba(255, 255, 255, .4);
}

.uk-tab > * > a {
  color: rgba(255, 255, 255, .7);
}

.uk-tab > * > a:focus,
.uk-tab > * > a:hover {
  color: #fff;
}

.uk-tab > .uk-active > a {
  color: #fff;
  border-color: #00aeff;
}

.uk-tab-right > * > a {
  border-left-width: 2px;
}

.uk-tab-right::before {
  border-left: 2px solid rgba(255, 255, 255, .2);
}

.uk-table th {
  color: #fff;
  font-weight: 600;
}

.uk-table-divider > :first-child > tr:not(:first-child),
.uk-table-divider > :not(:first-child) > tr,
.uk-table-divider > tr:not(:first-child) {
  border-top: 1px solid rgba(255, 255, 255, .3);
}

.myaccount-card tbody tr:first-child {
  border-top: none;
}

.myaccount-card tbody tr:last-child {
  border-bottom: none;
}

.uk-dotnav > * > * {
  background-color: rgba(214, 214, 214, .6);
  border-color: transparent;
  border-radius: 30px;
  width: 50px;
  height: 8px;
}

.uk-dotnav > * > :focus,
.uk-dotnav > * > :hover {
  background-color: rgba(214, 214, 214, .8);
}

.uk-dotnav > .uk-active > *,
.uk-dotnav > * > :active {
  background-color: rgba(0, 174, 255, .8);
}

.uk-tile.alliance-bar {
  background: linear-gradient(to bottom, #1e7fe1 0%, #1e7fe1 50%, #196bbd 51%, #196bbd 100%);
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, .1);
  border-radius: 2px 0 0 2px;
  color: #fff;
  font-size: .875rem;
  padding: 2px 10px;
  box-shadow: inset 0 0 8px 4px rgba(255, 255, 255, .15);
}

.uk-tile.horde-bar {
  background: linear-gradient(to bottom, #e11e1e 0%, #e11e1e 50%, #bd1919 51%, #bd1919 100%);
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, .1);
  border-radius: 0 2px 2px 0;
  color: #fff;
  font-size: .875rem;
  padding: 2px 10px;
  box-shadow: inset 0 0 8px 4px rgba(255, 255, 255, .15);
}

.uk-nav-default.myaccount-nav {
  background: rgba(0, 0, 0, .45);
  box-shadow: 0 2px 2px rgba(0, 0, 0, .15);
}

.uk-nav-default.myaccount-nav > li > a {
  color: #fff;
  font-size: .9375rem;
  padding: 10px 20px;
  border-left: 4px solid transparent;
  transition: background ease-in-out .1s;
}

.uk-nav-default.myaccount-nav > li.uk-active > a {
  background: rgba(255, 0, 0, 0.4);
  border-left-color: #ff0000;
  color: #fff;
}

.uk-nav-default.myaccount-nav > li > a:focus,
.uk-nav-default.myaccount-nav > li > a:hover {
  background: #ff0000;
  color: #fff;
}

.uk-nav-default.myaccount-nav .uk-nav-header {
  color: #fff;
}

.uk-nav-default.myaccount-nav .uk-nav-divider {
  border-top: 1px solid rgba(255, 255, 255, .1);
  margin: 5px 20px;
}

.uk-subnav.subnav-points {
  margin: 0;
}

.url-flex-points {
  display: inline-flex;
  color: #e4e4e4;
  font-weight: 600;
}

.uk-subnav.subnav-points > * {
  padding-left: 10px;
  color: #ccc;
  font-size: 1rem;
}

.uk-subnav-divider.subnav-points > :nth-child(n+2):not(.uk-first-column)::before {
  margin-right: 10px;
  border-left-color: rgba(255, 255, 255, .15);
}

.dp-icon {
  display: inline-block;
  position: relative;
  background-image: url('../../../../../assets/images/DP.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0 3px;
  vertical-align: middle;
}

.vp-icon {
  display: inline-block;
  position: relative;
  background-image: url('../../../../../assets/images/VP.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  margin: 0 3px;
  vertical-align: middle;
}

.uk-logo {
  font-family: 'Lobster', cursive;
  font-size: 30px;
  color: #fff;
}

.uk-logo:focus,
.uk-logo:hover {
  color: #fff;
}

.uk-table-small td,
.uk-table-small th {
  padding: 10px 8px;
  font-size: .875rem;
}

.uk-pagination > * {
  padding-left: 8px;
}

.uk-pagination > * > * {
  display: flex;
  background: #0e86ca;
  border: 1px solid #00aeff;
  color: #fff;
  font-size: .875rem;
  font-weight: 700;
  line-height: 26px;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out .15s;
}

.uk-pagination > * > :focus,
.uk-pagination > * > :hover {
  background-color: #00aeff;
  border-color: #00aeff;
  color: #fff;
}

.uk-pagination > .uk-active > * {
  background-color: #00aeff;
  border-color: #00aeff;
  color: #fff;
}

.status-dot {
  display: inline-block;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.status-dot > span,
.status-dot > span > span {
  display: block;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  animation: pulse 1.5s linear infinite;
}

.status-dot > span > span:after {
  content: '';
  display: block;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  animation: pulse 1.5s linear infinite;
}

.status-dot.online {
  background-color: #35e861;
}

.status-dot.online span,
.status-dot.online span:after {
  background-color: rgba(110, 255, 122, .4);
}

.status-dot.offline {
  background-color: #ff4b44;
}

.status-dot.offline span,
.status-dot.offline span:after {
  background-color: rgba(236, 133, 134, .4);
}

.discord-widget img {
  border: 1px solid transparent;
  transition: all ease-in .25s;
}

.discord-widget:hover img {
  border: 1px solid rgba(255, 255, 255, .1);
  box-shadow: 0 15px 10px -15px rgba(0, 0, 0, .8);
  filter: grayscale(100%);
}

@keyframes pulse {
  0% {
    opacity: .75;
    transform: scale(1);
  }
  25% {
    opacity: .75;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.8);
  }
}

.space-large {
  height: 80px;
}

.uk-nav-default.nav-store > li > a {
  color: #ececec;
  border-top: 1px solid rgba(255, 255, 255, .1);
  padding: 10px 20px;
}

.uk-nav-default.nav-store > li:first-child > a {
  border-top: none;
}

.uk-nav-default.nav-store > li > a:focus,
.uk-nav-default.nav-store > li > a:hover {
  background: rgba(255, 255, 255, .025);
  color: #fff;
}

.uk-nav-default.nav-store > li.uk-active > a {
  background: rgba(255, 255, 255, .025);
  color: #fff;
}

.nav-store ul.uk-nav-sub {
  padding: 0;
}

.uk-nav-default.nav-store .uk-nav-sub a {
  border-top: 1px solid rgba(255, 255, 255, .1);
  color: #ececec;
  padding: 10px 40px;
  word-break: break-all;
}

.uk-nav-default.nav-store .uk-nav-sub a:focus,
.uk-nav-default.nav-store .uk-nav-sub a:hover {
  background: rgba(255, 255, 255, .025);
  color: #fff;
}

.uk-nav-default.nav-store .uk-nav-sub li.uk-active > a {
  background: rgba(255, 255, 255, .025);
  color: #fff;
}

.uk-nav-parent-icon > .uk-parent > a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23ececec%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0D%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23fff%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.blizzcms-item-container {
  background: rgba(0, 0, 0, .15);
  cursor: default;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .4), 0 0 0 1px rgba(255, 255, 255, .1);
  padding: 5px;
}

.blizzcms-item-header {
  cursor: pointer;
}

.blizzcms-item-body {
  margin-top: 10px;
}

.blizzcms-item-body .blizzcms-item-price {
  font-size: 13px;
  font-weight: bold;
  margin-right: 5px;
}

.item-store-icon {
  position: relative;
  display: inline-block;
  border: 3px solid #0e86ca;
  border-radius: 3px;
  box-shadow: inset 0 0 0 -1px rgba(255, 255, 255, .08);
  height: 46px;
  width: 46px;
}

.item-store-icon::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
}

.item-store-icon img {
  height: 46px;
  width: 46px;
}

.blizzcms-store-summary .uk-accordion-title {
  background-color: rgba(74, 74, 74, .7);
  border-radius: 3px;
  border: 1px solid #4a4a4a;
  color: #fff;
  font-size: 1.25rem;
  padding: 6px;
}

/*
 * Donate
 */
.uk-card-donate {
  background: linear-gradient(to right bottom, #ff0000, #610c0c);
  border-radius: 2px;
  color: #fff;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .15);
}

.uk-card-donate .fab {
  color: #fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
}

.uk-card-donate .uk-card-title {
  color: #fff;
}

.uk-card-donate.uk-card-hover:hover {
  background-color: transparent;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .15);
}

/*
 * Vote
 */
.uk-card-vote {
  background: rgba(135, 9, 9, 0.2);
  border: 1px solid rgba(255, 255, 255, .1);
  color: #fff;
}

.uk-card-vote .uk-card-header {
  border-bottom-color: rgba(255, 255, 255, .1);
  padding: 10px;
}

.uk-countdown-number,
.uk-countdown-separator {
  font-size: 1rem;
  margin-right: 3px;
  line-height: 1.4;
}

/*
 * Forum
 */
.uk-card-forum {
  background: rgba(135, 9, 9, 0.1);
  border: 1px solid rgba(255, 255, 255, .05);
  color: rgba(255, 255, 255, .7);
}

.uk-card-forum .uk-card-title {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
}

.uk-card-forum .uk-card-header {
  padding: 8px 16px;
  background: rgb(255, 9, 9);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.uk-card-forum .uk-card-body {
  padding: 16px;
}

.uk-list-divider > li:nth-child(n+2) {
  border-top-color: rgba(255, 255, 255, .15);
}

.forum-who-icon {
  display: inline-block;
  position: relative;
  background-color: rgba(101, 24, 24, 0.6);
  border: 1px solid rgba(255, 255, 255, .05);
  border-radius: 50%;
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, .05), inset 0 2px 20px #001933;
  color: #fff;
  line-height: 48px;
  margin-right: 8px;
  width: 48px;
  height: 48px;
  text-align: center;
  vertical-align: middle;
}

.forum-who-text {
  display: inline-block;
  color: #fff;
  vertical-align: middle;
}

.forum-icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

.forum-table .uk-table caption {
  background: rgb(255, 9, 9);
  border: 1px solid rgba(255, 255, 255, .1);
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  padding: 8px 16px;
  text-transform: uppercase;
}

.forum-table .uk-table tbody tr {
  background: rgba(135, 9, 9, 0.1);
  border: 1px solid rgba(255, 255, 255, .1);
}

.forum-table .uk-table tbody tr:first-child {
  border-top: none;
}

.forum-table .uk-table tbody tr:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.forum-table .uk-table-hover tbody tr:hover,
.forum-table .uk-table-hover > tr:hover {
  background: rgba(135, 9, 9, 0.2);
}

tbody tr:first-child {
  border-top: 1px solid rgba(255, 255, 255, .25);
}

tbody tr:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, .25);
}

.uk-table-hover tbody tr:hover,
.uk-table-hover > tr:hover {
  background: rgba(255, 255, 255, .05);
}

.uk-grid-divider > :not(.uk-first-column)::before {
  border-left-color: rgba(255, 255, 255, .2);
}

.uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
  border-top-color: rgba(255, 255, 255, .2);
}

.Author {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.topic-author-avatar {
  background-image: url('../../../includes/images/profiles/default.png');
  background-size: cover;
  border: 3px solid rgba(255, 255, 255, .2);
  height: 70px;
  width: 70px;
  position: relative;
}

.topic-author-staff .topic-author-avatar {
  border: 3px solid #00aeff;
}

.topic-author-avatar img {
  height: 70px;
  width: 70px;
}

.topic-author-avatar:after {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.topic-author-avatar:hover:after {
  background-color: rgba(255, 255, 255, .05);
}

.topic-author-avatar.topic-author-avatar--default:after {
  display: none;
}

.topic-author-avatar.noprofile img {
  image-rendering: auto;
}

.topic-author-avatar.profile img {
  image-rendering: auto;
}

.author-rank-staff {
  background-color: #00aeff;
  border-bottom: 3px solid #008acb;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 5px auto 0 auto;
  min-width: 100px;
  max-width: 130px;
  padding: 3px;
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
}

.glass-box-container {
  display: block;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .3);
  color: rgba(255, 255, 255, .7);
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}

.glass-box-editor {
  display: block;
  max-width: 40rem;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .glass-box-container {
    max-width: 20rem;
  }
  .glass-box-editor {
    max-width: 20rem;
  }
}

.topic-forum-member {
  color: rgba(255, 255, 255, .6);
}

.topic-forum-staff {
  color: #00b4ff;
}

a.topic-forum-staff {
  color: #00b4ff;
  text-decoration: none;
  transition: color ease-in .15s;
}

a.topic-forum-staff:hover {
  color: #fff;
  text-decoration: none;
}
